---
title: "4. pydeck-example"
author: "kim dayeon"
date: today
categories: [news, code, analysis]
image: "4.pydeck.png"
---

<실행시키기위한 패키지 설치 및 실행>

#1. pip install pydeck

#2. !jupyter nbextension install --sys-prefix --symlink --overwrite --py pydeck
#.  !jupyter nbextension enable --sys-prefix --py pydeck


#3.   pip install pydeck[jupyter]


#4.   MAPBOX_API_KEY="pk.eyJ1Ijoic3BlYXI1MzA2IiwiYSI6ImNremN5Z2FrOTI0ZGgycm45Mzh3dDV6OWQifQ.kXGWHPRjnVAEHgVgLzXn2g"

### 공식 홈페이지 예시

In [8]:
import pandas as pd
import pydeck

UK_ACCIDENTS_DATA = 'https://raw.githubusercontent.com/uber-common/deck.gl-data/master/examples/3d-heatmap/heatmap-data.csv'

pd.read_csv(UK_ACCIDENTS_DATA).head()

        lng        lat
0 -0.198465  51.505538
1 -0.178838  51.491836
2 -0.205590  51.514910
3 -0.208327  51.514952
4 -0.206022  51.496572

In [9]:
UK_ACCIDENTS_DATA

'https://raw.githubusercontent.com/uber-common/deck.gl-data/master/examples/3d-heatmap/heatmap-data.csv'

In [10]:
layer = pydeck.Layer(
    'HexagonLayer',
    UK_ACCIDENTS_DATA,
    get_position='[lng,lat]',
    auto_highlight=True,
    elevation_scale=50,
    pickable=True,
    elevation_range=[0, 3000],
    extruded=True,                 
    coverage=1)

# Set the viewport location  #어디서 지도를 볼건지 확인
view_state = pydeck.ViewState(  
    longitude=-1.415,
    latitude=52.2323,
    zoom=6,
    min_zoom=5,
    max_zoom=15,
    pitch=40.5,
    bearing=-27.36)

# Combined all of it and render a viewport
r = pydeck.Deck(layers=[layer], initial_view_state=view_state)
r.show()  #지도 보이기 
# r.to_html('demo.html')  #html로 저장할 수 있음

DeckGLWidget(carto_key=None, custom_libraries=[], google_maps_key=None, json_input='{\n  "initialViewState": {…

In [11]:
layer.elevation_range = [0, 500]

r.update()

In [12]:
import pydeck as pdk

In [13]:
pdk.Deck?

Init signature:
pdk.Deck(
    layers=None,
    views=[{
  "@@type": "MapView",
  "controller": true
}],
    map_style='dark',
    api_keys=None,
    initial_view_state={
  "latitude": 0,
  "longitude": 0,
  "zoom": 1
},
    width='100%',
    height=500,
    tooltip=True,
    description=None,
    effects=None,
    map_provider='carto',
    parameters=None,
)
Docstring:      <no docstring>
Init docstring:
This is the renderer and configuration for a deck.gl visualization, similar to the
`Deck <https://deck.gl/docs/api-reference/core/deck>`_ class from deck.gl.
Pass `Deck` a Mapbox API token to display a basemap; see the notes below.

Parameters
----------

layers : pydeck.Layer or list of pydeck.Layer, default None
    List of :class:`pydeck.bindings.layer.Layer` layers to render.
views : list of pydeck.View, default ``[pydeck.View(type="MapView", controller=True)]``
    List of :class:`pydeck.bindings.view.View` objects to render.
api_keys : dict, default None
    Dictionary of geospatial API service providers, where the keys are ``mapbox``, ``google_maps``, or ``carto``
    and the values are the API key. Defaults to None if not set. Any of the environment variables
    ``MAPBOX_API_KEY``, ``GOOGLE_MAPS_API_KEY``, and ``CARTO_API_KEY`` can be set instead of hardcoding the key here.
map_provider : str, default 'carto'
    If multiple API keys are set (e.g., both Mapbox and Google Maps), inform pydeck which basemap provider to prefer.
    Values can be ``carto``, ``mapbox`` or ``google_maps``
map_style : str or dict, default 'dark'
    One of 'light', 'dark', 'road', 'satellite', 'dark_no_labels', and 'light_no_labels', a URI for a basemap
    style, which varies by provider, or a dict that follows the Mapbox style `specification <https://docs.mapbox.com/mapbox-gl-js/style-spec/>`.
    The default is Carto's Dark Matter map. For Mapbox examples, see  Mapbox's `gallery <https://www.mapbox.com/gallery/>`.
    If not using a basemap, set ``map_provider=None``.
initial_view_state : pydeck.ViewState, default ``pydeck.ViewState(latitude=0, longitude=0, zoom=1)``
    Initial camera angle relative to the map, defaults to a fully zoomed out 0, 0-centered map
    To compute a viewport from data, see :func:`pydeck.data_utils.viewport_helpers.compute_view`
height : int, default 500
    Height of Jupyter notebook cell, in pixels.
width : int` or string, default '100%'
    Width of visualization, in pixels (if a number) or as a CSS value string.
tooltip : bool or dict of {str: str}, default True
    If ``True``/``False``, toggles a default tooltip on visualization hover.
    Layers must have ``pickable=True`` set in order to display a tooltip.
    For more advanced usage, the user can pass a dict to configure more custom tooltip features.
    Further documentation is `here <tooltip.html>`_.

.. _Deck:
    https://deck.gl/docs/api-reference/core/deck
.. _gallery:
    https://www.mapbox.com/gallery/
File:           c:\users\jiyeo\anaconda3\envs\dayeon\lib\site-packages\pydeck\bindings\deck.py
Type:           type
Subclasses:

### Scatter Plots

In [14]:
import pandas as pd
from pydeck import (
    data_utils,
    Deck,
    Layer
)

# First, let's use Pandas to download our data
URL = 'https://raw.githubusercontent.com/ajduberstein/data_sets/master/beijing_subway_station.csv'
df = pd.read_csv(URL)
df.head()
#위경도 확인 할수 있음 color: RGB값 [R,G,B, 투명도]

,lat,lng,osm_id,station_name,chinese_name,opening_date,color,line_name
0,39.940249,116.456359,1351272524,Agricultural Exhibition Center,农业展览馆,2008-07-19,"[0, 146, 188, 255]",Line 10
1,39.955570,116.388507,5057476994,Andelibeijie,安德里北街,2015-12-26,"[0, 155, 119, 255]",Line 8 (North section)
2,39.947729,116.402067,339088654,Andingmen,安定门,1984-09-20,"[0, 75, 135, 255]",Line 2
3,40.011026,116.263981,1362259113,Anheqiao North,安河桥北,2009-09-28,"[0, 140, 149, 255]",Line 4
4,39.967112,116.388398,5305505996,Anhuaqiao,安华桥,2012-12-30,"[0, 155, 119, 255]",Line 8 (North section)

In [15]:
from ast import literal_eval  #텍스트를 리스트 형식으로 바꾸기
# We have to re-code position to be one field in a list, so we'll do that here:
# The CSV encodes the [R, G, B, A] color values listed in it as a string
df['color'] = df.apply(lambda x: literal_eval(x['color']), axis=1)

In [8]:
df.head()

,lat,lng,osm_id,station_name,chinese_name,opening_date,color,line_name
0,39.940249,116.456359,1351272524,Agricultural Exhibition Center,农业展览馆,2008-07-19,"[0, 146, 188, 255]",Line 10
1,39.955570,116.388507,5057476994,Andelibeijie,安德里北街,2015-12-26,"[0, 155, 119, 255]",Line 8 (North section)
2,39.947729,116.402067,339088654,Andingmen,安定门,1984-09-20,"[0, 75, 135, 255]",Line 2
3,40.011026,116.263981,1362259113,Anheqiao North,安河桥北,2009-09-28,"[0, 140, 149, 255]",Line 4
4,39.967112,116.388398,5305505996,Anhuaqiao,安华桥,2012-12-30,"[0, 155, 119, 255]",Line 8 (North section)

In [9]:
# Use pydeck's data_utils module to fit a viewport to the central 90% of the data
viewport = data_utils.compute_view(points=df[['lng', 'lat']], view_proportion=0.9)
auto_zoom_map = Deck(layers=None, initial_view_state=viewport)
auto_zoom_map.show()
auto_zoom_map

# auto_zoom_map.to_html('demo.html')

{
  "initialViewState": {
    "latitude": 39.92295563963415,
    "longitude": 116.37423261672825,
    "zoom": 9
  },
  "layers": [],
  "mapProvider": "carto",
  "mapStyle": "https://basemaps.cartocdn.com/gl/dark-matter-gl-style/style.json",
  "views": [
    {
      "@@type": "MapView",
      "controller": true
    }
  ]
}

In [10]:
from IPython.core.display import display
import ipywidgets

year = 2019

scatterplot = Layer(
    'ScatterplotLayer',
    df,
    id='scatterplot-layer',
    get_radius=500,
    get_fill_color='color',
    get_position='[lng, lat]')
r = Deck(layers=[scatterplot], initial_view_state=viewport)

# Create an HTML header to display the year
display_el = ipywidgets.HTML('<h1>{}</h1>'.format(year))
display(display_el)
# Show the current visualization
r.show()
# r.to_html('demo.html')

HTML(value='<h1>2019</h1>')

DeckGLWidget(carto_key=None, custom_libraries=[], google_maps_key=None, json_input='{\n  "initialViewState": {…

In [11]:
import time
for y in range(1971, 2020):
    scatterplot.data = df[df['opening_date'] <= str(y)]
    year = y
    # Reset the header to display the year
    display_el.value = '<h1>{}</h1>'.format(year)
    r.update()
    time.sleep(0.1)

### Using pydeck to manipulate data

In [12]:
import pydeck as pdk

DATA_URL = 'https://api.data.gov.sg/v1/transport/taxi-availability'
COLOR_RANGE = [
  [255, 255, 178, 25],
  [254, 217, 118, 85],
  [254, 178, 76, 127],
  [253, 141, 60, 170],
  [240, 59, 32, 212],
  [189, 0, 38, 255]
]

In [16]:
import pandas as pd
import requests

#싱가포르의 택시 위치 좌표

json = requests.get(DATA_URL).json()
df = pd.DataFrame(json["features"][0]["geometry"]["coordinates"])
df.columns = ['lng', 'lat']

viewport = pdk.data_utils.compute_view(df[['lng', 'lat']])
layer = pdk.Layer(
    'ScreenGridLayer',
    df,
    cell_size_pixels=20,
    color_range=COLOR_RANGE,
    get_position='[lng, lat]',
    pickable=True,
    auto_highlight=True)
r = pdk.Deck(layers=[layer], initial_view_state=viewport)

In [17]:
r.show()

DeckGLWidget(carto_key=None, custom_libraries=[], google_maps_key=None, json_input='{\n  "initialViewState": {…

In [15]:
pd.DataFrame([r.deck_widget.selected_data])

Empty DataFrame
Columns: []
Index: [0]

### Plotting massive data sets.ipynb

In [20]:
import pandas as pd
#point 데이터
all_lidar = pd.concat([
    pd.read_csv('https://raw.githubusercontent.com/ajduberstein/kitti_subset/master/kitti_1.csv'),
    pd.read_csv('https://raw.githubusercontent.com/ajduberstein/kitti_subset/master/kitti_2.csv'),
    pd.read_csv('https://raw.githubusercontent.com/ajduberstein/kitti_subset/master/kitti_3.csv'),
    pd.read_csv('https://raw.githubusercontent.com/ajduberstein/kitti_subset/master/kitti_4.csv'),
])

# Filter to one frame of data
lidar = all_lidar[all_lidar['source'] == 136]
lidar.loc[: , ['x', 'y']] = lidar[['x', 'y']] / 10000

<ipython-input-20-1de2c2a520d7>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lidar.loc[: , ['x', 'y']] = lidar[['x', 'y']] / 10000

In [21]:
all_lidar.head()

        x       y      z  source
0  32.836   0.056  1.319     122
1  32.588   0.107  1.311     122
2  32.403   0.208  1.305     122
3  60.085   1.163  2.241     122
4  76.862  20.430  2.898     122

In [24]:
import pydeck as pdk


point_cloud = pdk.Layer(
    'PointCloudLayer',
    lidar[['x', 'y', 'z']],
    get_position='[x, y, z * 10]',
    get_normal=[0, 0, 1],
    get_color=[255, 0, 100, 200],
    pickable=True,  
    auto_highlight=True,
    point_size=1)


view_state = pdk.data_utils.compute_view(lidar[['x', 'y']], 0.9)
view_state.max_pitch = 360
view_state.pitch = 80
view_state.bearing = 120

r = pdk.Deck(
    point_cloud,
    initial_view_state=view_state,
    map_style='')
r.show()

DeckGLWidget(carto_key=None, custom_libraries=[], google_maps_key=None, json_input='{\n  "initialViewState": {…

In [1]:
import time
from collections import deque

# Choose a handful of frames to loop through
frame_buffer = deque([42, 56, 81, 95])
print('Press the stop icon to exit')
while True:
    current_frame = frame_buffer[0]
    lidar = all_lidar[all_lidar['source'] == current_frame]
    r.layers[0].get_position = '[x , y , z * 10]'
    r.layers[0].data = lidar.to_dict(orient='records')
    frame_buffer.rotate()
    r.update()
    time.sleep(0.5)

Press the stop icon to exit

NameError: name 'all_lidar' is not defined

### Interacting with other Jupyter widgets.ipynb

In [4]:
LIGHTS_URL = 'https://raw.githubusercontent.com/ajduberstein/lights_at_night/master/chengdu_lights_at_night.csv'
df = pd.read_csv(LIGHTS_URL)
df.head()

   year      lng     lat  brightness
0  1993  104.575  31.808           4
1  1993  104.583  31.808           4
2  1993  104.592  31.808           4
3  1993  104.600  31.808           4
4  1993  104.675  31.808           4

In [5]:
df['color'] = df['brightness'].apply(lambda val: [255, val * 4,  255, 255])
df.sample(10) ##255가 흰색

        year      lng     lat  brightness                color
114481  2001  105.075  29.567          17  [255, 68, 255, 255]
124735  2003  103.800  31.000           3  [255, 12, 255, 255]
297452  2005  104.667  29.533          18  [255, 72, 255, 255]
246171  2011  103.517  30.233          11  [255, 44, 255, 255]
10328   1993  105.633  30.492           4  [255, 16, 255, 255]
83641   2009  103.758  29.633          15  [255, 60, 255, 255]
239849  2011  104.283  30.517          13  [255, 52, 255, 255]
169534  2013  104.350  30.375           6  [255, 24, 255, 255]
196560  2007  104.458  30.733           3  [255, 12, 255, 255]
186670  2007  104.492  31.292          12  [255, 48, 255, 255]

In [11]:
plottable = df[df['year'] == 1993].to_dict(orient='records')

view_state = pdk.ViewState(
    latitude=31.0,
    longitude=104.5,
    zoom=8,
    max_zoom=8,
    min_zoom=8)
scatterplot = pdk.Layer(
    'HeatmapLayer',
    data=plottable,
    get_position='[lng, lat]',
    get_weight='brightness', #가중치를 변수 사용해서 두기
    opacity=0.5,
    pickable=False,
    get_radius=800)
r = pdk.Deck(
    layers=[scatterplot],
    initial_view_state=view_state,
    views=[pdk.View(type='MapView', controller=None)])
r.show()

KeyError: 'year'

In [12]:
import ipywidgets as widgets
from IPython.display import display
#연도에 따라 어떻게 변하는지 확인 하기 위해 slider 사용
slider = widgets.IntSlider(1992, min=1993, max=2013, step=2)
def on_change(v):
    results = df[df['year'] == slider.value].to_dict(orient='records')
    scatterplot.data = results
    r.update()
    
slider.observe(on_change, names='value')
display(slider)

IntSlider(value=1993, max=2013, min=1993, step=2)

In [13]:
#지도를 뛰웠을 때 막대를 찍으면 어떤 데이터인지 알려주는 것
tooltip = {
   "html": "<b>Elevation Value:</b> {elevationValue}",
   "style": {
        "backgroundColor": "steelblue",
        "color": "white"
   }
}

### Tooltip

In [14]:
import pydeck as pdk

layer = pdk.Layer(
    'HexagonLayer',
    UK_ACCIDENTS_DATA,
    get_position='[lng, lat]',
    auto_highlight=True,
    elevation_scale=50,
    pickable=True,
    elevation_range=[0, 3000],
    extruded=True,
    coverage=1)

# Set the viewport location
view_state = pdk.ViewState(
    longitude=-1.415,
    latitude=52.2323,
    zoom=6,
    min_zoom=5,
    max_zoom=15,
    pitch=40.5,
    bearing=-27.36)

# Combined all of it and render a viewport
r = pdk.Deck(
    layers=[layer],
    initial_view_state=view_state,
    tooltip={
        'html': '<b>Elevation Value:</b> {elevationValue}',
        'style': {
            'color': 'white'  #text 색 정한것
        }
    }
)
r.show()

DeckGLWidget(carto_key=None, custom_libraries=[], google_maps_key=None, json_input='{\n  "initialViewState": {…

- 그냥 텍스트로 하기

In [15]:
import pydeck as pdk

layer = pdk.Layer(
    'HexagonLayer',
    UK_ACCIDENTS_DATA,
    get_position='[lng, lat]',
    auto_highlight=True,
    elevation_scale=50,
    pickable=True,
    elevation_range=[0, 3000],
    extruded=True,
    coverage=1)

# Set the viewport location
view_state = pdk.ViewState(
    longitude=-1.415,
    latitude=52.2323,
    zoom=6,
    min_zoom=5,
    max_zoom=15,
    pitch=40.5,
    bearing=-27.36)

# Combined all of it and render a viewport
r = pdk.Deck(
    layers=[layer],
    initial_view_state=view_state,
    tooltip = {
    "text": "Elevation: {elevationValue}"  #툽팁 말고 text -> 가독성이 떨어짐 
    }   #원하는 text 사용해서 할수 있음
)
r.show()

DeckGLWidget(carto_key=None, custom_libraries=[], google_maps_key=None, json_input='{\n  "initialViewState": {…

- Tooltip을 그냥 True값만 주기

In [19]:
import pydeck as pdk

layer = pdk.Layer(
    'HexagonLayer',
    UK_ACCIDENTS_DATA,
    get_position='[lng, lat]',
    auto_highlight=True,
    elevation_scale=50,
    pickable=True,
    elevation_range=[0, 3000],
    extruded=True,
    coverage=1)

# Set the viewport location
view_state = pdk.ViewState(
    longitude=-1.415,
    latitude=52.2323,
    zoom=6,
    min_zoom=5,
    max_zoom=15,
    pitch=40.5,
    bearing=-27.36)

# Combined all of it and render a viewport
r = pdk.Deck(
    layers=[layer],
    initial_view_state=view_state,
    tooltip=True
)
r.show()

DeckGLWidget(carto_key=None, custom_libraries=[], google_maps_key=None, json_input='{\n  "initialViewState": {…

In [16]:
UK_ACCIDENTS_DATA = 'https://raw.githubusercontent.com/uber-common/deck.gl-data/master/examples/3d-heatmap/heatmap-data.csv'

uk_data = pd.read_csv(UK_ACCIDENTS_DATA)

In [17]:
uk_data.head()

        lng        lat
0 -0.198465  51.505538
1 -0.178838  51.491836
2 -0.205590  51.514910
3 -0.208327  51.514952
4 -0.206022  51.496572

### 미국 택시 데이터 시각화

In [25]:
pip install pandas-gbq -U

Collecting pandas-gbq
  Downloading pandas_gbq-0.19.2-py2.py3-none-any.whl (25 kB)
Collecting db-dtypes<2.0.0,>=1.0.4
  Downloading db_dtypes-1.1.1-py2.py3-none-any.whl (14 kB)
Collecting pyarrow>=3.0.0
  Downloading pyarrow-12.0.0-cp38-cp38-win_amd64.whl (21.5 MB)
     -------------------------------------- 21.5/21.5 MB 500.1 kB/s eta 0:00:00
Collecting google-auth-oauthlib>=0.7.0
  Downloading google_auth_oauthlib-1.0.0-py2.py3-none-any.whl (18 kB)
Collecting google-cloud-bigquery-storage<3.0.0dev,>=2.16.2
  Downloading google_cloud_bigquery_storage-2.19.1-py2.py3-none-any.whl (190 kB)
     ------------------------------------ 190.1/190.1 kB 501.0 kB/s eta 0:00:00
Requirement already satisfied: pandas>=1.1.4 in c:\python\lib\site-packages (from pandas-gbq) (1.5.2)
Collecting google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5
  Downloading google_cloud_bigquery-3.10.0-py2.py3-none-any.whl (218 kB)
     ------------------------------------ 218.4/218.4 kB 459.4 kB/s eta 0:00:00
Collecting pydata-google-auth>=1.5.0
  Downloading pydata_google_auth-1.8.0-py2.py3-none-any.whl (14 kB)
Collecting google-api-core<3.0.0dev,>=2.10.2
  Downloading google_api_core-2.11.0-py3-none-any.whl (120 kB)
     ------------------------------------ 120.3/120.3 kB 542.4 kB/s eta 0:00:00
Requirement already satisfied: setuptools in c:\python\lib\site-packages (from pandas-gbq) (52.0.0.post20210125)
Requirement already satisfied: numpy>=1.16.6 in c:\python\lib\site-packages (from pandas-gbq) (1.23.5)
Collecting google-auth>=2.13.0
  Downloading google_auth-2.18.1-py2.py3-none-any.whl (178 kB)
     ------------------------------------ 178.9/178.9 kB 431.2 kB/s eta 0:00:00
Requirement already satisfied: packaging>=17.0 in c:\python\lib\site-packages (from db-dtypes<2.0.0,>=1.0.4->pandas-gbq) (21.3)
Collecting googleapis-common-protos<2.0dev,>=1.56.2
  Downloading googleapis_common_protos-1.59.0-py2.py3-none-any.whl (223 kB)
     ------------------------------------ 223.6/223.6 kB 471.0 kB/s eta 0:00:00
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in c:\python\lib\site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (2.25.1)
Collecting protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5
  Downloading protobuf-4.23.1-cp38-cp38-win_amd64.whl (422 kB)
     ------------------------------------ 422.5/422.5 kB 560.9 kB/s eta 0:00:00
Collecting pyasn1-modules>=0.2.1
  Downloading pyasn1_modules-0.3.0-py2.py3-none-any.whl (181 kB)
     ------------------------------------ 181.3/181.3 kB 781.1 kB/s eta 0:00:00
Requirement already satisfied: urllib3<2.0 in c:\python\lib\site-packages (from google-auth>=2.13.0->pandas-gbq) (1.26.4)
Collecting cachetools<6.0,>=2.0.0
  Downloading cachetools-5.3.0-py3-none-any.whl (9.3 kB)
Requirement already satisfied: six>=1.9.0 in c:\python\lib\site-packages (from google-auth>=2.13.0->pandas-gbq) (1.15.0)
Collecting rsa<5,>=3.1.4
  Downloading rsa-4.9-py3-none-any.whl (34 kB)
Collecting requests-oauthlib>=0.7.0
  Downloading requests_oauthlib-1.3.1-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in c:\python\lib\site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (2.8.1)
Collecting proto-plus<2.0.0dev,>=1.15.0
  Downloading proto_plus-1.22.2-py3-none-any.whl (47 kB)
     -------------------------------------- 47.9/47.9 kB 597.7 kB/s eta 0:00:00
Collecting google-resumable-media<3.0dev,>=0.6.0
  Downloading google_resumable_media-2.5.0-py2.py3-none-any.whl (77 kB)
     -------------------------------------- 77.7/77.7 kB 865.4 kB/s eta 0:00:00
Collecting grpcio<2.0dev,>=1.47.0
  Downloading grpcio-1.54.2-cp38-cp38-win_amd64.whl (4.1 MB)
     ---------------------------------------- 4.1/4.1 MB 677.5 kB/s eta 0:00:00
Collecting google-cloud-core<3.0.0dev,>=1.6.0
  Downloading google_cloud_core-2.3.2-py2.py3-none-any.whl (29 kB)
Requirement already satisfied: pytz>=2020.1 in c:\python\lib\site-packages (from pandas>=1.1.4->pandas-gbq) (2021.1)
Collecting grpcio-status<2.0dev,>=1.33.2
  Downloading grpcio_status-1.54.2-py3-none-any.whl (5.1 kB)
Collecting google-crc32c<2.0dev,>=1.0
  Downloading google_crc32c-1.5.0-cp38-cp38-win_amd64.whl (27 kB)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\python\lib\site-packages (from packaging>=17.0->db-dtypes<2.0.0,>=1.0.4->pandas-gbq) (2.4.7)
Collecting pyasn1<0.6.0,>=0.4.6
  Downloading pyasn1-0.5.0-py2.py3-none-any.whl (83 kB)
     -------------------------------------- 83.9/83.9 kB 471.9 kB/s eta 0:00:00
Requirement already satisfied: certifi>=2017.4.17 in c:\python\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in c:\python\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\python\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (4.0.0)
Collecting oauthlib>=3.0.0
  Downloading oauthlib-3.2.2-py3-none-any.whl (151 kB)
     ------------------------------------ 151.7/151.7 kB 282.9 kB/s eta 0:00:00
Installing collected packages: pyasn1, pyarrow, protobuf, oauthlib, grpcio, google-crc32c, cachetools, rsa, requests-oauthlib, pyasn1-modules, proto-plus, googleapis-common-protos, google-resumable-media, grpcio-status, google-auth, db-dtypes, google-auth-oauthlib, google-api-core, pydata-google-auth, google-cloud-core, google-cloud-bigquery-storage, google-cloud-bigquery, pandas-gbq
Successfully installed cachetools-5.3.0 db-dtypes-1.1.1 google-api-core-2.11.0 google-auth-2.18.1 google-auth-oauthlib-1.0.0 google-cloud-bigquery-3.10.0 google-cloud-bigquery-storage-2.19.1 google-cloud-core-2.3.2 google-crc32c-1.5.0 google-resumable-media-2.5.0 googleapis-common-protos-1.59.0 grpcio-1.54.2 grpcio-status-1.54.2 oauthlib-3.2.2 pandas-gbq-0.19.2 proto-plus-1.22.2 protobuf-4.23.1 pyarrow-12.0.0 pyasn1-0.5.0 pyasn1-modules-0.3.0 pydata-google-auth-1.8.0 requests-oauthlib-1.3.1 rsa-4.9
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [22]:
import pandas as pd
import pydata_google_auth

SCOPES = [
  'https://www.googleapis.com/auth/cloud-platform',
  'https://www.googleapis.com/auth/drive',
  'https://www.googleapis.com/auth/bigquery'
]

credentials = pydata_google_auth.get_user_credentials(
SCOPES, auth_local_webserver=True)

ModuleNotFoundError: No module named 'pydata_google_auth'

In [21]:
query = """
SELECT 
    *
FROM `bigquery-public-data.new_york_taxi_trips.tlc_yellow_trips_2015` 
WHERE EXTRACT(MONTH from pickup_datetime) = 1
LIMIT 10000
"""

In [47]:
#%%time
taxi_df = pd.read_gbq(query=query, dialect='standard', project_id='persuasive-zoo-147513', credentials=credentials)

Wall time: 6.7 s

In [49]:
taxi_df

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,imp_surcharge,total_amount
0,1,2015-01-02 16:26:22,2015-01-02 16:51:10,2,2.50,-73.993172,40.762901,<NA>,N,-73.962097,40.763584,1,15.7,1.0,0.5,3.50,0.0,0.0,21.00
1,1,2015-01-16 17:13:00,2015-01-16 17:16:10,1,0.40,-73.961601,40.771229,<NA>,N,-73.959419,40.775253,1,4.0,1.0,0.5,1.15,0.0,0.3,6.95
2,2,2015-01-24 04:25:01,2015-01-24 04:41:43,2,4.64,-74.000595,40.737167,<NA>,N,-73.995499,40.680763,1,16.0,0.5,0.5,19.50,0.0,0.3,36.80
3,2,2015-01-30 14:29:58,2015-01-30 15:27:13,1,18.39,-73.989914,40.729706,<NA>,N,-73.782310,40.644180,1,52.0,0.0,0.5,5.50,0.0,0.3,58.30
4,1,2015-01-14 21:24:13,2015-01-14 21:25:55,1,0.50,-73.954849,40.773220,<NA>,N,-73.959801,40.769432,1,3.5,0.5,0.5,0.96,0.0,0.3,5.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1,2015-01-24 22:49:17,2015-01-24 22:56:20,2,0.70,-74.004578,40.724056,<NA>,N,-74.006958,40.732971,1,6.0,0.5,0.5,1.80,0.0,0.3,9.10
9996,2,2015-01-21 18:20:27,2015-01-21 18:30:16,6,1.14,-74.000038,40.748291,<NA>,N,-73.990608,40.738071,1,8.0,1.0,0.5,1.80,0.0,0.3,11.60
9997,2,2015-01-09 20:35:23,2015-01-09 20:43:55,1,2.00,-73.974876,40.748661,<NA>,N,-73.980530,40.768021,1,8.5,0.5,0.5,1.80,0.0,0.3,11.60
9998,2,2015-01-31 22:01:33,2015-01-31 22:11:22,1,1.42,-73.984718,40.728447,<NA>,N,-73.975380,40.745564,1,8.5,0.5,0.5,1.80,0.0,0.3,11.60
9999,2,2015-01-13 13:40:14,2015-01-13 13:51:28,5,1.57,-73.981232,40.747498,<NA>,N,-73.998116,40.733883,1,9.0,0.0,0.5,1.80,0.0,0.3,11.60

### GridLayer
- 10만개 데이터

In [50]:
arc_layer = pdk.Layer(
    'GridLayer',
    taxi_df,
    get_position='[pickup_longitude, pickup_latitude]',
    pickable=True, 
    auto_highlight=True,
    tooltip=True
)

nyc_center = [-73.9808, 40.7648] 
view_state = pdk.ViewState(longitude=nyc_center[0], latitude=nyc_center[1], zoom=9)

r = pdk.Deck(layers=[arc_layer], initial_view_state=view_state)
r.show()

DeckGLWidget(carto_key=None, custom_libraries=[], google_maps_key=None, json_input='{"initialViewState": {"lat…

### Arc Layer

In [51]:
zip_code_query = """
WITH base_data AS 
(
  SELECT 
    nyc_taxi.*, 
    pickup.zip_code as pickup_zip_code,
    pickup.internal_point_lat as pickup_zip_code_lat,
    pickup.internal_point_lon as pickup_zip_code_lon,
    dropoff.zip_code as dropoff_zip_code,
    dropoff.internal_point_lat as dropoff_zip_code_lat,
    dropoff.internal_point_lon as dropoff_zip_code_lon
  FROM (
    SELECT *
    FROM `bigquery-public-data.new_york_taxi_trips.tlc_yellow_trips_2015`
    WHERE 
        EXTRACT(MONTH from pickup_datetime) = 1
        and pickup_latitude <= 90 and pickup_latitude >= -90
        and dropoff_latitude <= 90 and dropoff_latitude >= -90
    ) AS nyc_taxi
  JOIN (
    SELECT zip_code, state_code, state_name, city, county, zip_code_geom, internal_point_lat, internal_point_lon 
    FROM `bigquery-public-data.geo_us_boundaries.zip_codes`
    WHERE state_code='NY'
    ) AS pickup 
  ON ST_CONTAINS(pickup.zip_code_geom, st_geogpoint(pickup_longitude, pickup_latitude))
  JOIN (
    SELECT zip_code, state_code, state_name, city, county, zip_code_geom, internal_point_lat, internal_point_lon 
    FROM `bigquery-public-data.geo_us_boundaries.zip_codes`
    WHERE state_code='NY' 
    ) AS dropoff
  ON ST_CONTAINS(dropoff.zip_code_geom, st_geogpoint(dropoff_longitude, dropoff_latitude))
  
)

SELECT 
  *
FROM base_data 
limit 10000
"""

In [52]:
%%time
taxi_df_by_zipcode = pd.read_gbq(query=zip_code_query, dialect='standard', project_id='persuasive-zoo-147513', credentials=credentials)

Wall time: 36.5 s

In [53]:
taxi_df_by_zipcode.head(3)

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,...,tip_amount,tolls_amount,imp_surcharge,total_amount,pickup_zip_code,pickup_zip_code_lat,pickup_zip_code_lon,dropoff_zip_code,dropoff_zip_code_lat,dropoff_zip_code_lon
0,2,2015-01-20 09:57:47,2015-01-20 10:14:24,1,2.54,-74.014793,40.714111,<NA>,N,-73.991997,...,2.5,0.0,0.3,15.8,10280,40.709073,-74.016423,10003,40.731829,-73.989181
1,1,2015-01-15 04:50:46,2015-01-15 05:01:29,1,2.30,-74.015938,40.710976,<NA>,N,-73.996552,...,0.0,0.0,0.3,11.3,10280,40.709073,-74.016423,10011,40.742043,-74.000620
2,2,2015-01-22 09:31:00,2015-01-22 09:50:42,1,4.13,-73.989738,40.701981,<NA>,N,-74.007828,...,2.0,0.0,0.3,19.8,11201,40.693700,-73.989859,10011,40.742043,-74.000620

In [54]:

arc_layer = pdk.Layer(
    'ArcLayer',
    taxi_df_by_zipcode,
    get_source_position='[pickup_zip_code_lon, pickup_zip_code_lat]',
    get_target_position='[dropoff_zip_code_lon, dropoff_zip_code_lat]',
    get_source_color='[255, 255, 120]', 
    get_target_color='[255, 0, 0]',
    get_widht='elevationValue',
    pickable=True, 
    auto_highlight=True,
)

nyc_center = [-73.9808, 40.7648] 
view_state = pdk.ViewState(longitude=nyc_center[0], latitude=nyc_center[1], zoom=9)

r = pdk.Deck(layers=[arc_layer], initial_view_state=view_state)
r.show()

DeckGLWidget(carto_key=None, custom_libraries=[], google_maps_key=None, json_input='{"initialViewState": {"lat…

### Aggregate

In [55]:
agg_query = """
WITH base_data AS 
(
  SELECT 
    nyc_taxi.*, 
    pickup.zip_code as pickup_zip_code,
    pickup.internal_point_lat as pickup_zip_code_lat,
    pickup.internal_point_lon as pickup_zip_code_lon,
    dropoff.zip_code as dropoff_zip_code,
    dropoff.internal_point_lat as dropoff_zip_code_lat,
    dropoff.internal_point_lon as dropoff_zip_code_lon
  FROM (
    SELECT *
    FROM `bigquery-public-data.new_york_taxi_trips.tlc_yellow_trips_2015`
    WHERE 
        EXTRACT(MONTH from pickup_datetime) = 1
        and pickup_latitude <= 90 and pickup_latitude >= -90
        and dropoff_latitude <= 90 and dropoff_latitude >= -90
    ) AS nyc_taxi
  JOIN (
    SELECT zip_code, state_code, state_name, city, county, zip_code_geom, internal_point_lat, internal_point_lon 
    FROM `bigquery-public-data.geo_us_boundaries.zip_codes`
    WHERE state_code='NY'
    ) AS pickup 
  ON ST_CONTAINS(pickup.zip_code_geom, st_geogpoint(pickup_longitude, pickup_latitude))
  JOIN (
    SELECT zip_code, state_code, state_name, city, county, zip_code_geom, internal_point_lat, internal_point_lon 
    FROM `bigquery-public-data.geo_us_boundaries.zip_codes`
    WHERE state_code='NY' 
    ) AS dropoff
  ON ST_CONTAINS(dropoff.zip_code_geom, st_geogpoint(dropoff_longitude, dropoff_latitude))
  
)

SELECT 
  pickup_zip_code,
  pickup_zip_code_lat,
  pickup_zip_code_lon,
  dropoff_zip_code,
  dropoff_zip_code_lat,
  dropoff_zip_code_lon,
  COUNT(*) AS cnt
FROM base_data 
GROUP BY 1,2,3,4,5,6
limit 10000
"""

In [56]:
%%time
agg_df = pd.read_gbq(query=agg_query, dialect='standard', project_id='persuasive-zoo-147513', credentials=credentials)

Wall time: 15.9 s

In [57]:
agg_df.head()

,pickup_zip_code,pickup_zip_code_lat,pickup_zip_code_lon,dropoff_zip_code,dropoff_zip_code_lat,dropoff_zip_code_lon,cnt
0,11693,40.590916,-73.809715,11414,40.657604,-73.844804,1
1,10040,40.858314,-73.930494,10040,40.858314,-73.930494,139
2,10473,40.818690,-73.858474,10030,40.818267,-73.942856,1
3,10451,40.820454,-73.925066,10031,40.825288,-73.950045,93
4,11209,40.621993,-74.030134,11228,40.616698,-74.013066,28

In [58]:
agg_df = agg_df.sort_values('cnt', ascending=False)

In [59]:
agg_df = agg_df[:100]

In [60]:

arc_layer = pdk.Layer(
    'ArcLayer',
    agg_df,
    get_source_position='[pickup_zip_code_lon, pickup_zip_code_lat]',
    get_target_position='[dropoff_zip_code_lon, dropoff_zip_code_lat]',
    get_source_color='[255, 255, 120]', 
    get_target_color='[255, 0, 0]',
    width_units='meters',
    get_width="1+10*cnt/500",
    pickable=True, 
    auto_highlight=True,
)

nyc_center = [-73.9808, 40.7648] 
view_state = pdk.ViewState(longitude=nyc_center[0], latitude=nyc_center[1], zoom=9)

r = pdk.Deck(layers=[arc_layer], initial_view_state=view_state,
             tooltip={
                 'html': '<b>count:</b> {cnt}',
                 'style': {
                     'color': 'white'
                 }
             }
            )
r.show()

DeckGLWidget(carto_key=None, custom_libraries=[], google_maps_key=None, json_input='{"initialViewState": {"lat…

### 요일별 위젯

In [61]:
agg_query2 = """
WITH base_data AS 
(
  SELECT 
    nyc_taxi.*, 
    pickup.zip_code as pickup_zip_code,
    pickup.internal_point_lat as pickup_zip_code_lat,
    pickup.internal_point_lon as pickup_zip_code_lon,
    dropoff.zip_code as dropoff_zip_code,
    dropoff.internal_point_lat as dropoff_zip_code_lat,
    dropoff.internal_point_lon as dropoff_zip_code_lon
  FROM (
    SELECT *
    FROM `bigquery-public-data.new_york_taxi_trips.tlc_yellow_trips_2015`
    WHERE 
        EXTRACT(MONTH from pickup_datetime) = 1
        and pickup_latitude <= 90 and pickup_latitude >= -90
        and dropoff_latitude <= 90 and dropoff_latitude >= -90
    LIMIT 100000
    ) AS nyc_taxi
  JOIN (
    SELECT zip_code, state_code, state_name, city, county, zip_code_geom, internal_point_lat, internal_point_lon 
    FROM `bigquery-public-data.geo_us_boundaries.zip_codes`
    WHERE state_code='NY'
    ) AS pickup 
  ON ST_CONTAINS(pickup.zip_code_geom, st_geogpoint(pickup_longitude, pickup_latitude))
  JOIN (
    SELECT zip_code, state_code, state_name, city, county, zip_code_geom, internal_point_lat, internal_point_lon 
    FROM `bigquery-public-data.geo_us_boundaries.zip_codes`
    WHERE state_code='NY' 
    ) AS dropoff
  ON ST_CONTAINS(dropoff.zip_code_geom, st_geogpoint(dropoff_longitude, dropoff_latitude))
  
)

SELECT 
  CAST(format_datetime('%u', pickup_datetime) AS INT64) -1 AS weekday,
  pickup_zip_code,
  pickup_zip_code_lat,
  pickup_zip_code_lon,
  dropoff_zip_code,
  dropoff_zip_code_lat,
  dropoff_zip_code_lon,
  COUNT(*) AS cnt
FROM base_data 
GROUP BY 1,2,3,4,5,6,7
"""

In [62]:
%%time
agg_df2 = pd.read_gbq(query=agg_query2, dialect='standard', project_id='persuasive-zoo-147513', credentials=credentials)

Wall time: 7.41 s

In [63]:
agg_df2.head()

,weekday,pickup_zip_code,pickup_zip_code_lat,pickup_zip_code_lon,dropoff_zip_code,dropoff_zip_code_lat,dropoff_zip_code_lon,cnt
0,4,11214,40.599148,-73.996090,10035,40.795458,-73.929570,1
1,6,10171,40.755899,-73.973858,11430,40.646809,-73.786169,2
2,5,10461,40.847394,-73.840583,10475,40.874375,-73.823656,1
3,0,10172,40.755273,-73.974315,10065,40.764628,-73.963144,1
4,6,10162,40.769308,-73.949924,11430,40.646809,-73.786169,1

In [64]:
default_data = agg_df2[agg_df2['weekday'] == 0].to_dict(orient='records')

In [65]:
arc_layer = pdk.Layer(
    'ArcLayer',
    default_data,
    get_source_position='[pickup_zip_code_lon, pickup_zip_code_lat]',
    get_target_position='[dropoff_zip_code_lon, dropoff_zip_code_lat]',
    get_source_color='[255, 255, 120]', 
    get_target_color='[255, 0, 0]',
    width_units='meters',
    get_width="1+10*cnt/500",
    pickable=True, 
    auto_highlight=True,
)

nyc_center = [-73.9808, 40.7648] 
view_state = pdk.ViewState(longitude=nyc_center[0], latitude=nyc_center[1], zoom=9)

r = pdk.Deck(layers=[arc_layer], initial_view_state=view_state,
             tooltip={
                 'html': '<b>count:</b> {cnt}',
                 'style': {
                     'color': 'white'
                 }
             }
            )
r.show()

DeckGLWidget(carto_key=None, custom_libraries=[], google_maps_key=None, json_input='{"initialViewState": {"lat…

In [67]:
# Widget 슬라이더 생성
import ipywidgets as widgets
from IPython.display import display
slider = widgets.IntSlider(0, min=0, max=6, step=1)

# Widget에서 사용할 함수 정의 
def on_change(v):
    results = agg_df2[agg_df2['weekday'] == slider.value].to_dict(orient='records')
    arc_layer.data = results
    r.update()

# Deck과 슬라이더 연결
slider.observe(on_change, names='value')
display(slider)

IntSlider(value=0, max=6)